body {
	font-family: 'Noto Sans', sans-serif;
	color: #000;
	font-weight: bolder;
	background-repeat: no-repeat;

}
#weather {
	width: 40vw;
	margin: 3em auto;
	padding: 1em;
	border: 3px solid rgba(179, 220, 237);
	border-radius: 25px;
	opacity: .8;
	background: rgba(179, 220, 237, 1);
	background: -moz-linear-gradient(left, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179, 220, 237, 1)), color-stop(50%, rgba(41, 184, 229, 1)), color-stop(100%, rgba(188, 224, 238, 1)));
	background: -webkit-linear-gradient(left, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	background: -o-linear-gradient(left, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	background: -ms-linear-gradient(left, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	background: linear-gradient(to right, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1);
}
/* background: #1a52ad; For browsers that do not support gradients 
    background: -webkit-linear-gradient(#1a52ad, yellow); /* For Safari 5.1 to 6.0 
    background: -o-linear-gradient(#1a52ad, yellow); /* For Opera 11.1 to 12.0 
    background: -moz-linear-gradient(#1a52ad, yellow); /* For Firefox 3.6 to 15 
    background: linear-gradient(#1a52ad, yellow); /* Standard syntax */

h1 {
	font-family: 'Merriweather', serif;
	color: #02388e;
	margin: 1em auto;
}
h3 {
	font-family: 'Noto Sans', sans-serif;
}
ul {
	font-family: 'Noto Sans', sans-serif;
}
#tempSwitch {
	background-color: #02388e;
	color: #ffffff;
	border: 3px solid rgba(179, 220, 237);
	border-radius: 25px;
	padding: .8em;
}
#data {
	margin-top: 2em;
}